*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.page-wrapper{
  background-color: black;
  height: 100vh;
}

/* header */

header{
  display: flex;
  height: 100px;
  width: 100%;
  background-color: black;
}

#header-sx{
  display: flex;
  align-items: center;
  width: 70%;
  height: 100px;
  padding-left: 45px;
}
#header-dx{
  display: flex;
  align-items: center;
  padding-right: 45px;
  justify-content: flex-end;
  width: 30%;
  height: 100px;
  /* background-color: green; */
}


/* Logo */

.logo{
  max-height: 100px;
  padding: 15px 0px;
}


/* Barra di ricerca */

#search{
  height: 30px;
  width: 300px;
  padding: 5px;
  border: none;
}

#bottone-ricerca{
  height: 30px;
  width: 100px;
  padding: 8px;
  margin-left: 8px;
  background-color: red;
  color: white;
  border: none
}

[placeholder]{
  font-style: italic;
}


/* Lista risultati */

main{
  /* display: flex; */
  color: white;
  padding: 30px 45px;
}

ul{
  display: flex;
  padding: 30px 0px;
  width: 100%;
  overflow-x: auto;
  list-style: none;
}

li{
  margin: 0px 30px;
  color: white;
}
